.kart {
    /* position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%; /* Need a specific value to work */
    /* bottom: 10%; */ 
    margin-top: 8px;
}
.dflex{
    display: flex;
}
.exercisetitle{
    margin-top: 0px;
    margin-bottom: 0;
}
.exercisebutton{
    margin-top: 1rem;
}

.borderrr{
    border-radius: 2rem 2rem 0 0;
    background-color: white;
    height: 100%;
}

.borderstart{
    background-color: white;
    height: 100%;
}

.borderr{
    border-radius: 2rem 2rem 0 0;
    background-color: white;
}

ion-toolbar{
    --background: #7ec1d8;
    --color: white;
    --border-color:var(--background);
}

ion-content{
    --ion-background-color:#7ec1d8;
}

ion-tab-bar{
    --ion-background-color:white;
}
ion-tab-button{
    --color-selected: #7ec1d8;
}

ion-back-button{
    --color:white;
    /* --icon-padding-start: .3rem; */
}

/* ion-input{
    --padding-start: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
} */
